.header {
  width: 100%;
}
.dropdown-text {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-toggle {
  color: #ffffff;
}

.color-nav {
  background-color: #0486ad;
  background-image: linear-gradient(180deg, #0486ad 10%, #043a4c 100%);
  background-size: cover;
}
